body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #080c1d;
}

header {
    background: #080c1d;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo {
    width: 100px; 
    height: auto; 
}

.website-name {
    font-size: 3em; 
    margin-left: 10px; 
    color: #fff; 
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a, nav ul li input[type="search"] {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border: none;
    background: none;
    font-size: 1rem;
}

nav ul li input[type="search"] {
    /* color: #080c1d; */
    color: #fff; 
    background: transparent; 
    border: 1px solid #fff;
}

section {
    padding: 20px;
    margin: 20px auto;
    max-width: 900px;
    text-align: center;
}

.main-container {
    margin: 0 auto;
    max-width: 900px;
}

footer {
    text-align: center;
    padding: 20px;
    background: #080c1d;
    color: #fff;
}

footer p {
    margin: 0;
}

/* #nav-image {
    width: 20px; 
    height: auto; 
    vertical-align: middle; 
} */
.feature-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.feature {
    background: #fff; 
    color: #080c1d;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    border-radius: 10px; 
}

.feature:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.feature p {
    font-size: 0.9rem
}

.feature-icon {
    width: 80px; 
    margin: 0 auto 20px;
}

.demo-section {
    background-color: #fff; 
    color: #080c1d; 
    padding: 20px;
    text-align: center;
  }

  h2 {
    margin-bottom: 0.5em;
  }

  p {
    margin-botton: 1em;
  }
  
  .demo-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat (2, auto);
    justify-content: center;
    align-items: center;
    gap: 10px; /* Space between buttons */
    padding: 20px;
  }
  
  .demo-buttons button {
    background-color: #21262D; /* Dark button background */
    color: #C9D1D9; /* Light text */
    border: none;
    padding: 10px 20px;
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
  }

  @media (maxwidth: 600px) {
    .demo-buttons {
        grid-template-columns: 1fr;
    }
  }
  
  .demo-buttons button:hover {
    background-color: #15297A; /* Slightly lighter on hover */
  }
  
  .demo-display {
    text-align: center;
    margin-top: 20px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  
  #demo-gif {
    width: 100%; /* Responsive to the container */
    height: auto;
    border-radius: 10px; /* Match the border radius of the section */
    max-height: 500px;
  }  

.team-container-wide {
    max-width: 2000px;
    margin: 0 auto;
    padding: 20px;
}

.team-container {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap; 
    gap: 20px; 
}


.team-member {
    flex: 0 0 20%;
    min-width: 200px;
    max-width: 250px;
    background: #fff;
    color: #080c1d;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 200px; 
    margin: 10px; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.team-member:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.team-pic {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 0;
    margin-bottom: 20px;
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 100%;
    justify-content: space-evenly;
}

.social-icon {
    width: 70px;
    height: auto;
    transition: transform 0.3s ease;
}

img {
    max-width: 100%;
    height: auto;
}

.social-icon:hover {
    transform: scale(1.1);
}
